body {
  background-color: rgb(20, 17, 12);

  height: 100vh;
  overflow: hidden;
}

.ml15 {
  font-weight: 800;
  font-size: 3.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  text-align: center;
}

.ml15 .word {
  display: inline;
  line-height: 1em;
  color: #ffffff;
  margin-right: 10px;
}  


.ml15.move-closer .word {
  margin-left: 25px; /* Adjust the spacing between words after animation */
}

img {
  display: block; /* This ensures the image is treated as a block element */
  margin: 0 auto; /* This centers the image horizontally */
  max-width: 15%;
  height: auto;
}