.home-page-container {
    text-align: center; /* Center the content horizontally */
  }
  
  .button-container {
    margin-top: 20px; /* Adjust margin-top as needed */
  }
  
  .button {
    padding: 10px 20px;
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .button:hover {
    background-color: #ff6600;
  }
  
  .button.active {
    background-color: orange; /* Set the background color for active button */
  }
  