/* NewsPage.css */

  .news-page-container search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
  }
  
  .news-page-container button-container {
    margin-top: 10px;
  }
  
  .news-page-container button {
    padding: 10px 20px;
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .news-page-container button:hover {
    background-color: #ff6600;
  }
  
  .news-page-container button.active {
    background-color: orange; 
  }

  